.services {
  width: 400px;
  height: 250px;
  border: 1px solid none;
  border-radius: 10px;
  /* border-top: 5px solid hsl(180, 62%, 55%); */
  box-shadow: 0px 0px 20px  #888888;
}
.services_supervisor{
  border-top: 5px solid hsl(180, 62%, 55%);
  border: 1px solid none;
  border-radius: 10px;
}

.services_teamBuilder{
  border-top: 5px solid hsl(0, 78%, 62%);
  border: 1px solid none;
  border-radius: 10px;
}

.services_karma{
  border-top: 5px solid hsl(34, 97%, 64%);
  border: 1px solid none;
  border-radius: 10px;
}
.services_calculator{
  border-top: 5px solid hsl(212, 86%, 64%);
  border: 1px solid none;
  border-radius: 10px;
}
/* Red: hsl(0, 78%, 62%)
- Cyan: hsl(180, 62%, 55%)
- Orange: hsl(34, 97%, 64%)
- Blue: hsl(212, 86%, 64%) */
