body{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: hsl(229, 6%, 66%);
  padding-top: 50px;
}
h1{
  margin: 0px;
  font-weight: 200;
  color: hsl(234, 12%, 34%);
}
h2{
  margin: 0px;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

header{
  text-align: center;
  font-weight: 200;
}

header span{
  font-weight: 600;
}
main{
  display: flex;
  align-items: center;
  justify-content:center;
}

.services {
  width: 350px;
  height: 250px;
  border: 1px solid none;
  border-radius: 10px;
  /* border-top: 5px solid hsl(180, 62%, 55%); */
  box-shadow: 0px 0px 30px hsla(229, 6%, 66%, 0.3);
  margin: 20px 20px;
}
.services figure{
  text-align: right;
  margin: 0px;
}
.services_supervisor{
  border-top: 5px solid hsl(180, 62%, 55%);
  border: 1px solid none;
  border-radius: 10px;
  padding: 30px 30px;
}

.services_teamBuilder{
  border-top: 5px solid hsl(0, 78%, 62%);
  border: 1px solid none;
  border-radius: 10px;
  padding: 30px 30px;
}

.services_karma{
  border-top: 5px solid hsl(34, 97%, 64%);
  border: 1px solid none;
  border-radius: 10px;
  padding: 30px 30px;
}

.services_calculator{
  border-top: 5px solid hsl(212, 86%, 64%);
  border: 1px solid none;
  border-radius: 10px;
  padding: 30px 30px;
}
/* Red: hsl(0, 78%, 62%)
- Cyan: hsl(180, 62%, 55%)
- Orange: hsl(34, 97%, 64%)
- Blue: hsl(212, 86%, 64%) */
