body{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: hsl(229, 6%, 66%);
  padding: 50px 30px;
}
h1{
  margin: 0px;
  font-weight: 200;
  color: hsl(234, 12%, 34%);
}
h2{
  margin: 0px;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

header{

  text-align: center;
  font-weight: 200;
}
header p{
  width: 500px;
  display: inline-block;
  margin-bottom: 45px;
}

header span{
  font-weight: 600;
}
main{
  display: flex;
  align-items: center;
  justify-content:center;
}

.services {
  /* width: 350px;
  height: 250px; */
  /* border: 1px solid none; */
  /* border-radius: 10px; */
  /* border-top: 5px solid hsl(180, 62%, 55%); */
  /* box-shadow: 0px 0px 30px hsla(229, 6%, 66%, 0.3); */
  margin: 20px 20px;
}
.services figure{
  text-align: right;
  margin: 0px;
}

.services_supervisor{
  width: 250px;
  height: 150px;
  border-top: 5px solid hsl(180, 62%, 55%);
  border: 1px solid none;
  border-radius: 10px;
  padding: 30px 30px;
  box-shadow: 0px 0px 30px hsla(229, 6%, 66%, 0.3);

}

.services_teamBuilder{
  width: 250px;
  height: 150px;
  border-top: 5px solid hsl(0, 78%, 62%);
  border: 1px solid none;
  border-radius: 10px;
  padding: 30px 30px;
  box-shadow: 0px 0px 30px hsla(229, 6%, 66%, 0.3);
}

.services_karma{
  width: 250px;
  height: 150px;
  border-top: 5px solid hsl(34, 97%, 64%);
  border: 1px solid none;
  border-radius: 10px;
  padding: 30px 30px;
  box-shadow: 0px 0px 30px hsla(229, 6%, 66%, 0.3);
}

.services_calculator{
  width: 250px;
  height: 150px;
  border-top: 5px solid hsl(212, 86%, 64%);
  border: 1px solid none;
  border-radius: 10px;
  padding: 30px 30px;
  box-shadow: 0px 0px 30px hsla(229, 6%, 66%, 0.3);
}

@media screen and (max-width:375px) {
main{
  display: flex;
  flex-wrap: wrap;
}
h1{
  font-size: 24px;
}
h2{
  font-size: 20px;
}

body{
  font-size: 12px;
}

header p{
  width: 100%;
  font-size: 15px;

}
.services {
  width: 100%;
  margin: 20px 0;
}
.services p {
  /* margin-bottom: 40px; */
}
}
 /* Red: hsl(0, 78%, 62%)
- Cyan: hsl(180, 62%, 55%)
- Orange: hsl(34, 97%, 64%)
- Blue: hsl(212, 86%, 64%) */
