body{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: hsl(229, 6%, 66%);
  padding: 50px 30px;
  margin: 0;
}
h1{
  margin: 0px;
  font-weight: 200;
  color: hsl(234, 12%, 34%);
}
h2{
  margin: 0px;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

header{

  text-align: center;
  font-weight: 200;
}
header p{
  width: 500px;
  display: inline-block;
  margin-bottom: 45px;
}

header span{
  font-weight: 600;
}
main{
  display: flex;
  align-items: center;
  justify-content:space-around;
}

.services {

}

.services_group{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
 figure{
  text-align: right;
  margin: 0;
}
.services_supervisor{
  /* width: 250px; */
  /* height: 150px; */
  /* border-top: 5px solid hsl(180, 62%, 55%); */
  /* border: 1px solid none; */
  /* border-radius: 10px; */
  /* padding: 30px 30px; */
  /* box-shadow: 0px 0px 30px hsla(229, 6%, 66%, 0.3); */
  width: 250px;
  height: 150px;
  border: 1px solid none;
  border-top: 5px solid hsl(180, 62%, 55%);
  border-radius: 10px;
  box-shadow: 0px 0px 30px hsla(229, 6%, 66%, 0.3);
  padding: 25px;
  margin: 20px 0;

}

.services_teamBuilder{
  /* width: 250px;
  height: 150px; */
  /* border-top: 5px solid hsl(0, 78%, 62%); */
  /* border: 1px solid none; */
  /* border-radius: 10px; */
  /* padding: 30px 30px; */
  /* box-shadow: 0px 0px 30px hsla(229, 6%, 66%, 0.3); */
  width: 250px;
  height: 150px;
  border: 1px solid none;
  border-top: 5px solid hsl(0, 78%, 62%);
  border-radius: 10px;
  box-shadow: 0px 0px 30px hsla(229, 6%, 66%, 0.3);
  padding: 25px;
  margin: 20px 0;
}

.services_karma{
  /* width: 250px;
  height: 150px; */
  /* border-top: 5px solid hsl(34, 97%, 64%);
  border: 1px solid none;
  border-radius: 10px; */
  /* padding: 30px 30px; */
  /* box-shadow: 0px 0px 30px hsla(229, 6%, 66%, 0.3); */
  width: 250px;
  height: 150px;
  border: 1px solid none;
  border-top: 5px solid hsl(34, 97%, 64%);
  border-radius: 10px;
  box-shadow: 0px 0px 30px hsla(229, 6%, 66%, 0.3);
  padding: 25px;
  margin: 20px 0;
}

.services_calculator{
  /* width: 250px;
  height: 150px; */
  /* border-top: 5px solid hsl(212, 86%, 64%);
  border: 1px solid none;
  border-radius: 10px; */
  /* padding: 30px 30px; */
  /* box-shadow: 0px 0px 30px hsla(229, 6%, 66%, 0.3); */
  width: 250px;
  height: 150px;
  border: 1px solid none;
  border-top: 5px solid hsl(212, 86%, 64%);
  border-radius: 10px;
  box-shadow: 0px 0px 30px hsla(229, 6%, 66%, 0.3);
  padding: 25px;
  margin: 20px 0;
}

article p{
  margin-bottom: 15px;
}
@media screen and (max-width:375px) {
main{
  flex-wrap: wrap;
}
h1{
  font-size: 24px;
}
h2{
  font-size: 20px;
}

body{
  font-size: 12px;
}

header p{
  width: 100%;
  font-size: 15px;
}
